body{
	width: 900px;
	margin: auto;
	font-family: arial;
	background-color: #eaeaeaea;
}
.content { 
	width: 900px;
	height: auto;
	text-align: center;
}
h1 {
	color :#002CA8;
	text-align: center;
}
.img1 {
	margin-left: 0px;
}
h2 { 
 }
p{
	font-size: 18px;
	color: grey;
}
.R {
	color: salmon;
}
h3 { 
	color:#002CA8;

 }
 ul {
 	width: 900px;
 }
 li {
 	text-align: left;
 	color: grey;
 	font-size: 19px;
 }
 h4 {
 	background-color: green;
 	color: #eaeaeaea;
 	font-size: 20px;
 	border: 1px solid grey;
 	padding: 5px;
 	text-align: center;
 }
 h5 {
 	color: white;
 	background-color: salmon;
 	font-size: 20px;
 	padding: 5px;
 	border: 1px solid grey;
 }
 .isi {
 	text-align: left;
 	color: grey;
 }
 .info {
 	font-weight: bold;
 	text-align: center;
 	font-size: 15px;
 	background-color: green;
 	color: white;
 	padding: 10px;
 	border: 1px solid grey;
 }
 .info1 {
 	font-weight: bold;
 	text-align: center;
 	font-size: 15px;
 	background-color: #eaeaea;
 	color: grey;
 	padding: 10px;
 	border: 1px solid grey;
 }